<app-header titulo="Escenario"></app-header>

<ion-content>

    <ion-card>
        <img alt="Silhouette of mountains" src="https://img.freepik.com/vector-premium/escenario-videojuegos-urbanos-pixelados_18591-48224.jpg?w=2000" />
        <ion-card-header>
        <ion-card-title>Escenario</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
    </ion-card>

</ion-content>
